@model SnowboardShop.ViewModels.OrderListViewModel

@{
    ViewData["Title"] = "Orders";
}

@foreach (var order in Model.Orders) {
    <div class="row" style="display: flex; flex-direction: column; justify-content: center; text-align: center;">
        <h1>Order:</h1>
    </div>
    <div class="container">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">Name: @(order.FirstName + " " + order.LastName)</li>
            <li class="list-group-item">Phone number: @order.PhoneNumber</li>
            <li class="list-group-item">City: @order.City</li>
            <li class="list-group-item">Address: @order.Address</li>
            <li class="list-group-item">TotalPrice: $@order.TotalPrice</li>
        </ul>
    </div>
    @foreach (var item in order.Items) {
        <br />
        <div class="container">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Item: @item.Name</li>
                <li class="list-group-item">Single price: $@item.Price</li>
                <li class="list-group-item">Quantity: @item.Quantity</li>
            </ul>
        </div>
        <br />
    }
}

