@model SnowboardShop.ViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Cart";
}

<link rel="stylesheet" href="~/css/cart.css" />

@if (Model.Items.Count > 0) {
    <table class="cartTable">
        <thead>
            <tr>
                <th colspan="2">Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total price</th>
                <th>Remove</th>
            </tr>
        </thead>
        @foreach (var item in Model.Items) {
            <tbody>
                <tr class="itemRows">
                    <td>@item.Name</td>
                    <td><img class="picture" src="~/images/@item.ImageName" alt="@item.Name"></td>
                    <td>$@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>$@(item.Price * item.Quantity)</td>
                    <td><a asp-route-id="@item.Id" asp-area="" asp-action="Remove" asp-controller="Cart"><img class="redCross" src="~/images/RedCross.png" /></a></td>
                </tr>
            </tbody>
        }
    </table>
    <div class="checkout">
        <h1 class="grandTotal">Grand total: $@Model.Items.Sum(m => m.Price * m.Quantity)</h1>
        <a asp-route-id="@Model.CartId" asp-area="" asp-action="Checkout" asp-controller="Cart" class="checkoutButton" role="button">Checkout</a>
    </div>
}
else {
    <div> 
        <img class="emptyCart" src="~/images/EmptyCart.png" />
    </div>
    <div class="yourCartIsEmptyDiv">
        <h1 class="yourCartIsEmpty">Your cart is empty!</h1>
    </div>
}
