@model SnowboardShop.ViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Cart";
}

<h2>Cart</h2>

@foreach (var item in Model.Items) {
    <div class="col-sm-2" style="margin-bottom: 5rem">
        <div class="card-columns-fluid">
            <div class="card card-block d-flex" style="width: 23rem;">
                <div class="card-body align-items-center">
                    <h3>Item:</h3>
                    <h4 class="card-text">@item.Name</h4>
                    <img class="card-img-bottom" style="width: 100%; height: 15vw; object-fit: cover;" src="~/images/@item.ImageName" alt="@item.Name">
                    <h3>Quantity:</h3>
                    <h4 class="card-title">@item.Quantity</h4>
                    <h3>Single price:</h3>
                    <h4 class="card-title">$@item.Price</h4>
                    <h3>Total price:</h3>
                    <h4 class="card-title">$@(item.Price * item.Quantity)</h4>
                    <a asp-route-id="@item.Id" asp-area="" asp-action="Remove" asp-controller="Cart" class="btn btn-default" role="button">Remove</a>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Items.Count > 0) {
    <h1>Grand total: $@Model.Items.Sum(m => m.Price * m.Quantity)</h1>
    <a asp-route-id="@Model.CartId" asp-area="" asp-action="Checkout" asp-controller="Cart" class="btn btn-lg btn-primary" role="button">Checkout</a>
}