@model SnowboardShop.ViewModels.SnowboardDetailsViewModel

@{
    ViewData["Title"] = "Details";
}


<link rel="stylesheet" href="~/css/details.css" />

<div class="card-columns-fluid">
    <div class="card card-block d-flex">
        <img class="card-img-bottom" src="~/images/@Model.ImagePath" alt="@Model.Name">
    </div>

</div>

<div class="details">
    <h1 class="title">@Model.Name</h1>
    <table class="detailsBody">
        <tr>
            <th class="type">Price: </th>
            <td class="value">$@Model.Price</td>
        </tr>

        <tr>
            <th class="description" colspan="2" data-toggle="collapse" data-target="#descriptionContent">Description</th>
        </tr>

        <tr>
            <td colspan="2">
                <div class="accordion-body collapse" id="descriptionContent">@Model.Description</div>
            </td>
        </tr>

        <tr>
            <th class="type">Profile: </th>
            <td class="value">@Model.Profile</td>
        </tr>

        <tr>
            <th class="type">Flex rating: </th>
            <td class="value">@Model.Flex</td>
        </tr>

        <tr>
            <th class="type">Size: </th>
            <td class="value">@Model.Size cm</td>
        </tr>

        <tr>
            <th class="type">Brand: </th>
            <td class="value">@Model.BrandName</td>
        </tr>

    </table>
    <a asp-route-id="@Model.Id" asp-area="" asp-action="AddToCart" asp-controller="Cart" class="addToCart" role="button">Add to cart</a>
</div>
@*<a asp-route-id="@Model.Id" asp-area="" asp-action="AddToCart" asp-controller="Cart" class="btn btn-primary btn-lg" role="button">Add to cart</a>*@