@model SnowboardShop.ViewModels.SnowboardDetailsViewModel

@{
    ViewData["Title"] = "Details";
}


<link rel="stylesheet" href="~/css/details.css" />

<div class="col-sm-4" style="margin-bottom: 5rem">
    <div class="card-columns-fluid">
        <div class="card card-block d-flex" style="width: 23rem; white-space:nowrap">
            <img class="card-img-bottom" src="~/images/@Model.ImagePath" alt="@Model.Name">
            <div class="card-body align-items-center" align="right">
                <h1 class="card-text">@Model.Name</h1>
                <h3 class ="type">Price:</h3>
                <h4 class="card-title">$@Model.Price</h4>
                <h3 class = "type">Description:</h3>
                <h4 class="card-title">@Model.Description</h4>
                <h3 class = "type">Profile:</h3>
                <h4 class="card-title">@Model.Profile</h4>
                <h3 class = "type">Flex rating:</h3>
                <h4 class="card-title">@Model.Flex</h4>
                <h3 class = "type">Size:</h3>
                <h4 class="card-title">@Model.Size cm</h4>
                <h3 class = "type">Brand:</h3>
                <h4 class="card-title">@Model.BrandName</h4>

                <a asp-route-id="@Model.Id" asp-area="" asp-action="AddToCart" asp-controller="Cart" class="btn btn-primary btn-lg" role="button">Add to cart</a>
            </div>
        </div>
    </div>
</div>