@model SnowboardShop.ViewModels.SnowboardDetailsViewModel

@{
    ViewData["Title"] = "Details";
}


<link rel="stylesheet" href="~/css/details.css" />

<div class="card-columns-fluid">
    <div class="card card-block d-flex">
        <img class="card-img-bottom" src="~/images/@Model.ImagePath" alt="@Model.Name">
    </div>

</div>

<div class="details">
    <h1 class="title">@Model.Name</h1>
    <table class="detailsBody">
        <tr>
            <th class="type">Price: </th>
            <td class="value">$@Model.Price</td>
        </tr>

        <tr>
            <th class="type description" colspan="2"><button data-toggle="collapse" data-target="#demo">Description</button></th>
        </tr>

        <tr id="demo" class="collapse">
            <td>
            Lorem ipsum dolor text
            </td>
        </tr>

        <tr>
            <th class="type">Profile: </th>
            <td class="value">@Model.Profile</td>
        </tr>

        <tr>
            <th class="type">Flex rating: </th>
            <td class="value">@Model.Flex</td>
        </tr>

        <tr>
            <th class="type">Size: </th>
            <td class="value">@Model.Size cm</td>
        </tr>

        <tr>
            <th class="type">Brand: </th>
            <td class="value">@Model.BrandName</td>
        </tr>

    </table>
</div>
<a asp-route-id="@Model.Id" asp-area="" asp-action="AddToCart" asp-controller="Cart" class="btn btn-primary btn-lg" role="button">Add to cart</a>